src/Pipelines/SuryaPipeline.json
{
  "name": "Surya",
  "properties": {
    "activities": [
      {
        "name": "triggername",
        "type": "SetVariable",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "variableName": "triggername",
          "value": {
            "value": "@pipeline().triggername",
            "type": "Expression"
          }
        }
      },
      {
        "name": "triggerdate",
        "type": "SetVariable",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "variableName": "triggerdate",
          "value": {
            "value": "@pipeline().triggertime",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If Condition1",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "triggername",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "triggerdate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@and(and(equals(variables('triggername'),'tr_ProductCostUpdateSaturdays'),or(equals(dayOfMonth(variables('triggerdate')),'1'),equals(dayOfMonth(variables('triggerdate')),'2'))),equals(dayOfMonth(variables('triggerdate')),'3'))",
            "type": "Expression"
          },
          "ifFalseActivities": [
            {
              "name": "pl_ProductCostInboundToADLS",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "pl_ProductCostInboundToADLS",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifTrueActivities": [
            {
              "name": "Wait1",
              "type": "Wait",
              "dependsOn": [],
              "userProperties": [],
              "typeProperties": {
                "waitTimeInSeconds": 1
              }
            }
          ]
        }
      }
    ],
    "variables": {
      "triggerdate": {
        "type": "String"
      },
      "triggername": {
        "type": "String"
      }
    },
    "annotations": [],
    "lastPublishTime": "2021-05-19T06:26:13Z"
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}